
body {
    background-color: white;
}

.toppdel {
    width: 100%;
    min-height: 200px;
    background-color: darkred;
    margin-bottom: 2%;
}

.sakbox {
    width: 90%;
    min-height: fit-content;
    height: fit-content;
    background-color: lightgrey;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 1%;


}
.sakbox:hover {
    background-color: darkgray;
}

.titeln {
    margin: 10px;
    padding: 5%;
    padding-top: 5%;
    font-weight: 1000;
    font-size: x-large;
    word-wrap: break-word;
    border-bottom: 5px solid black;


}
.brodtext {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: medium;
    font-weight: 500;
    word-break: break-text;

}

.merknappsDiv {
    background-color: lightblue;
    margin: auto;
    padding: 5px;
    text-align: center; 
}
.merknappsDiv button {
    border: none;
    background-color: grey;
    width: 100%;
    height: 100%;
}

.wholeBlock {
    width: 100%;
    border: solid black 1px;
    margin: auto;
    padding: 1px;
    height: 500px;
    min-height: 600px;

}

.elementLeftSide {
    min-height: 500px;
    background-color: blue;
    height: 100%;
    width: 20%;
    float: left;
}

.elementRightSide {
    background-color: blueviolet;
    min-height: 500px;
    height: 100%;
    width: 20%;
    float: left;

}


.elementMiddlePart {
    background-color: aqua;
    min-height: 500px;
    height: 100%;
    width: 60%;
    float: left;

}




@media screen and (max-width: 992px) {
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 80%;
        margin: 0%;
    }
}

@media screen and (max-width: 600px) {
    .elementLeftSide {
        width: 0%;
    }
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 98%;
        margin: auto;
    }

}